.landingBody {
    /* background-color: #161616; */
    height: calc(400vh);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    width: 100vw;
    /* background-color: white; */
    background-color: whitesmoke;
    contain: content;
}
.introDiv{
    display: flex;
    flex-direction: row;
    /* margin-left: 100px; */
    background-color: black;
    justify-content: space-around;
    width: 100%;
    /* margin-right: 205px; */
    align-items: center;
    height: 100vh;
    z-index: -2;
}

.skillsContainer{
    height: 100vh;
    background-color: blue;
}
