.footerCont {
    background-color: black;
    position: relative;
    width: 100vw;
    /* margin-top: 50px; */
    color: white;
}

.footerLinksParent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 70%;
    /* border: solid 5px blue; */
    
}

.footerLinksParentSocial{   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 50%;

}

.footerLogo{
    height: 30px;
    width: 30px;
}

.footerLinksParentCont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
}
