/* .honeyComp::after{
    --angle : 0deg;
    content: '';
    position: absolute;
    inset: -1px;
    background-color: rgba(36, 209, 30, 0.845);
    z-index: 1;
} */


.honeycomb-container {
    position: relative;
    background-color: gray;

    /* width: fit-content; */
    width: 350px; /* Ensure visibility */
    height: 350px;
    margin: auto;
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* clip-path: polygon(
        50% 0%, 93% 25%, 93% 75%, 
        50% 100%, 7% 75%, 7% 25%
    ); */
    /* border: solid 2px #eb3131; */
}

.honeycomb-container::before,.honeycomb-container::after {
    --angle : 0deg;
    content: '';
    position: absolute;
    inset: -5px;
    background-image: conic-gradient(transparent 60% , blue);
    z-index: -1;

    /* border: solid 10px #eb3131; */
}

.honeycomb-container::before {
    filter: blur(1.5rem);
}



.honeycomb-cell:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.honeyCombImg {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    transition: opacity 0.3s;
    /* object-fit: cover; */
    /* clip-path: polygon(
        50% 0%, 93% 25%, 93% 75%, 
        50% 100%, 7% 75%, 7% 25%
    ); */
    padding: 0%;
    margin: 0%;
}

.honeycomb-label {
    position: absolute;
    bottom: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    color: black;
    padding: 4px 8px;
    font-size: 0.8rem;
    border-radius: 6px;
}