.portfolioContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 5px; */
    border: solid 2px #c76161;
    justify-content: center;
    height: 100vh;
    background-color: black;
    width: 100vw;
    contain: content;
    color: white;
}

.portfolio{
    height: 250px;
    width: 500px;
    border: solid 2px #c76161;
    border-radius: 15px;
    margin: 5px 15px;   
}

.portfolio img{
    height: 35%;
    width: 55%;
    border-radius: 15px;
    /* object-fit: cover; */
    transition: opacity 0.3s;
}

.portfolio:hover{
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.portfolioGrid{
    display: flex;
    flex-direction: row;
    /* height: max-content; */
    border: solid 2px green;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    contain: content;
}