form {
    display: flex;
    flex-direction: column;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    padding: 20px;
    display: flex;
    width: 600px;
    /* background-color: aqua; */
    margin-right: 50px;
    justify-content: space-between;
}

.queryFormInp{
    border: solid black;
    margin-left: 20px;
    
    
}